@use "../variables/variables";

.border {
    border: var(--#{variables.$prefix}border-width) solid var(--#{variables.$prefix}border-color) !important;
}

.border-top {
    border-top: var(--#{variables.$prefix}border-width) solid
        var(--#{variables.$prefix}border-color) !important;
}

.border-right {
    border-right: var(--#{variables.$prefix}border-width) solid
        var(--#{variables.$prefix}border-color) !important;
}

.border-bottom {
    border-bottom: var(--#{variables.$prefix}border-width) solid
        var(--#{variables.$prefix}border-color) !important;
}

.border-left {
    border-left: var(--#{variables.$prefix}border-width) solid
        var(--#{variables.$prefix}border-color) !important;
}

.border-right-none {
    border-right: none !important;
}

.border-left-none {
    border-left: none !important;
}

.border-top-none {
    border-top: none !important;
}

.border-bottom-none {
    border-bottom: none !important;
}
